{
  "openapi": "3.1.0",
  "info": {
    "title": "Peddler Delivery as a Service API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://peddler-daas-api.free.beeceptor.com",
      "description": "Mock server"
    },
    {
      "url": "https://lokl-api.peddler.com",
      "description": "Production server"
    },
    {
      "url": "https://alphadev-api.peddler.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/Orders": {
      "post": {
        "responses": {
          "200": {
            "description": "Request was successful",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Auto-assigned: Short Id is automatically generated",
                      "type": "string"
                    },
                    "orderNumber": {
                      "description": "Auto-assigned: Order Number is automatically generated",
                      "type": "string"
                    },
                    "orderType": {
                      "default": "PRODUCT_ORDER",
                      "enum": [
                        "PRODUCT_ORDER",
                        "DELIVERY_ORDER"
                      ],
                      "type": "string"
                    },
                    "gl": {
                      "default": "NL",
                      "enum": [
                        "NL"
                      ],
                      "type": "string"
                    },
                    "hl": {
                      "enum": [
                        "en",
                        "nl"
                      ],
                      "type": "string"
                    },
                    "totalAmount": {
                      "description": "Auto-assigned: Total: shippingAmount + orderAmount",
                      "type": "number",
                      "format": "double"
                    },
                    "totalTaxAmount": {
                      "description": "Auto-assigned: Tax: shippingTaxAmount + orderTaxAmount",
                      "type": "number",
                      "format": "double"
                    },
                    "orderAmount": {
                      "description": "Auto-assigned: Total order amount inc. taxes - must add up to each line item (totalAmount)",
                      "type": "number",
                      "format": "double"
                    },
                    "orderTaxAmount": {
                      "description": "Auto-assigned: Total lineitem taxes - must add up to each line item (taxAmount)",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingAmount": {
                      "description": "Auto-assigned: Total shipping cost inc. taxes",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingTaxAmount": {
                      "description": "Auto-assigned: Shipping tax: shippingAmount × (shippingTaxRate / (1 + shippingTaxRate))",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingTaxRate": {
                      "default": 0.21,
                      "description": "Auto-assigned: Tax amount in decimal point 21% = 0.21",
                      "type": "number",
                      "format": "double"
                    },
                    "discountAmount": {
                      "description": "Auto: Discount for this order inc. taxes (based on voucher)",
                      "type": "number",
                      "format": "double"
                    },
                    "commission": {
                      "description": "Auto-assigned: Total commission for order inc. taxes - must add up to each line item (commission)",
                      "type": "number",
                      "format": "double"
                    },
                    "currency": {
                      "default": "EUR",
                      "description": "Auto-assigned: based on shipping address country",
                      "type": "string"
                    },
                    "rating": {
                      "description": "Auto-assigned/restricted",
                      "type": "number",
                      "format": "double"
                    },
                    "comment": {
                      "type": "string"
                    },
                    "refundTotal": {
                      "description": "Auto-assigned: refunded",
                      "type": "number",
                      "format": "double"
                    },
                    "refundType": {
                      "enum": [
                        "OUT_OF_STOCK",
                        "DUPLICATE",
                        "FRAUD",
                        "CUSTOMER_REQUEST",
                        "OTHER"
                      ],
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "refundReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "canceledReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "returnedReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "status": {
                      "default": "CREATED",
                      "enum": [
                        "CREATED",
                        "PROCESSING_PAYMENT",
                        "PAYMENT_FAILED",
                        "PAID",
                        "PARTIALLY_ACCEPTED",
                        "ACCEPTED",
                        "READY_FOR_PICKUP",
                        "RIDER_DISPATCHED",
                        "IN_TRANSIT",
                        "DELIVERED",
                        "COMPLETED",
                        "PROCESSING_REFUND",
                        "REFUNDED",
                        "PARTIALLY_REFUNDED",
                        "CANCELED",
                        "PARTIALLY_RETURNED",
                        "RETURNED"
                      ],
                      "description": "Auto-assigned: The STATUS is automatically assigned",
                      "type": "string"
                    },
                    "pspOrderId": {
                      "description": "Auto-assigned: pspOrderLineId is automatically assigned",
                      "type": "string"
                    },
                    "pspOrderStatus": {
                      "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                      "type": "string"
                    },
                    "pspPaidAt": {
                      "description": "Automatically assigned",
                      "type": "string",
                      "format": "date-time"
                    },
                    "pspRefundStatus": {
                      "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                      "type": "string"
                    },
                    "pspRefundedAt": {
                      "description": "Automatically assigned",
                      "type": "string",
                      "format": "date-time"
                    },
                    "redirectPaymentUri": {
                      "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                      "type": "string"
                    },
                    "webhookUri": {
                      "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                      "type": "string"
                    },
                    "cancelReview": {
                      "description": "Cancel review",
                      "type": "boolean"
                    },
                    "ageCheck": {
                      "description": "Automatically assigned",
                      "type": "number",
                      "format": "double"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "paymentOnAccountId": {
                      "type": "string"
                    },
                    "billingAddress": {
                      "properties": {
                        "id": {
                          "description": "Auto-assigned:Short Id is automatically generated",
                          "type": "string"
                        },
                        "location": {
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          }
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "appartment": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "enum": [
                            "NL"
                          ],
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "address1",
                        "city",
                        "country"
                      ],
                      "additionalProperties": false
                    },
                    "shippingAddress": {
                      "properties": {
                        "id": {
                          "description": "Auto-assigned:Short Id is automatically generated",
                          "type": "string"
                        },
                        "location": {
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          }
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "appartment": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "enum": [
                            "NL"
                          ],
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "address1",
                        "city",
                        "country"
                      ],
                      "additionalProperties": false
                    },
                    "storeIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "orderLineItems": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Auto-assigned:Short Id is automatically generated",
                            "type": "string"
                          },
                          "productTitle": {
                            "type": "string"
                          },
                          "productSlug": {
                            "type": "string"
                          },
                          "productImageFileName": {
                            "type": "string"
                          },
                          "productVariantTitle": {
                            "type": "string"
                          },
                          "productVariantSlug": {
                            "type": "string"
                          },
                          "productVariantImageFileName": {
                            "type": "string"
                          },
                          "productSubTitle": {
                            "type": "string"
                          },
                          "productRetailId": {
                            "type": "string"
                          },
                          "productSku": {
                            "type": "string"
                          },
                          "productVariantSubTitle": {
                            "type": "string"
                          },
                          "productVariantRetailId": {
                            "type": "string"
                          },
                          "productVariantSku": {
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Total number of items",
                            "type": "number",
                            "format": "double"
                          },
                          "unitPrice": {
                            "description": "Single item amount inc. taxes, must include variant cost",
                            "type": "number",
                            "format": "double"
                          },
                          "totalAmount": {
                            "description": "Total item amount inc. taxes: (unitPrice x quantity) - discount",
                            "type": "number",
                            "format": "double"
                          },
                          "taxAmount": {
                            "description": "Total tax amount for line item: totalAmount × (taxRate / (1 + taxRate))",
                            "type": "number",
                            "format": "double"
                          },
                          "taxRate": {
                            "default": 0.21,
                            "description": "Tax rate as defined in the product for the lined item",
                            "type": "number",
                            "format": "double"
                          },
                          "refundAmount": {
                            "description": "Refund item amount",
                            "type": "number",
                            "format": "double"
                          },
                          "refundType": {
                            "enum": [
                              "OUT_OF_STOCK",
                              "DUPLICATE",
                              "FRAUD",
                              "CUSTOMER_REQUEST",
                              "OTHER"
                            ],
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "returnReason": {
                            "type": "string"
                          },
                          "refundedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "default": "ADDED",
                            "enum": [
                              "ADDED",
                              "PAID",
                              "PAYMENT_FAILED",
                              "ACCEPTED",
                              "READY_FOR_PICKUP",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "COMPLETED",
                              "REFUNDED",
                              "PARTIALLY_REFUNDED",
                              "CANCELED",
                              "RETURNED"
                            ],
                            "description": "auto: STATUS is automatically assigned",
                            "type": "string"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "productTitle",
                          "productSlug",
                          "quantity",
                          "unitPrice",
                          "totalAmount",
                          "taxAmount",
                          "taxRate",
                          "status"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "deliveryLineItems": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Auto-assigned:Short Id is automatically generated",
                            "type": "string"
                          },
                          "deliveryShippingType": {
                            "default": "PACKAGE",
                            "enum": [
                              "PACKAGE",
                              "LETTERBOX",
                              "CUSTOM"
                            ],
                            "description": "auto: deliveryShippingType TYPE is automatically assigned",
                            "type": "string"
                          },
                          "deliveryContentsType": {
                            "default": "GOODS",
                            "enum": [
                              "FOOD",
                              "ALCOHOL",
                              "GOODS",
                              "BOOKS"
                            ],
                            "description": "auto: deliveryContentsType is automatically assigned",
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Total number of items",
                            "type": "number",
                            "format": "double"
                          },
                          "unitPrice": {
                            "description": "Single item amount inc. taxes, must include variant cost",
                            "type": "number",
                            "format": "double"
                          },
                          "totalAmount": {
                            "description": "Total item amount inc. taxes: (unitPrice x quantity) - discount",
                            "type": "number",
                            "format": "double"
                          },
                          "taxAmount": {
                            "description": "Total tax amount for line item: totalAmount × (taxRate / (1 + taxRate))",
                            "type": "number",
                            "format": "double"
                          },
                          "taxRate": {
                            "default": 0.21,
                            "description": "Tax rate as defined in the product for the lined item",
                            "type": "number",
                            "format": "double"
                          },
                          "refundAmount": {
                            "description": "Refund item amount",
                            "type": "number",
                            "format": "double"
                          },
                          "refundType": {
                            "enum": [
                              "OUT_OF_STOCK",
                              "DUPLICATE",
                              "FRAUD",
                              "CUSTOMER_REQUEST",
                              "OTHER"
                            ],
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "returnReason": {
                            "type": "string"
                          },
                          "refundedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "default": "ADDED",
                            "enum": [
                              "ADDED",
                              "PAID",
                              "PAYMENT_FAILED",
                              "ACCEPTED",
                              "READY_FOR_PICKUP",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "COMPLETED",
                              "REFUNDED",
                              "PARTIALLY_REFUNDED",
                              "CANCELED",
                              "RETURNED"
                            ],
                            "description": "auto: STATUS is automatically assigned",
                            "type": "string"
                          },
                          "scheduledPickupStart": {
                            "description": "Add start from pickup slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledPickupEnd": {
                            "description": "Add end from pickup slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledDeliveryStart": {
                            "description": "Add start from delivery slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledDeliveryEnd": {
                            "description": "Add end from delivery slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveryStatus": {
                            "default": "CREATED",
                            "enum": [
                              "CREATED",
                              "BOOKING",
                              "SCHEDULED",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "CANCELED",
                              "RETURNED_TO_STORE"
                            ],
                            "description": "Auto-assign: The STATUS is automatically assigned",
                            "type": "string"
                          },
                          "rider": {
                            "type": "string"
                          },
                          "riderAssignedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "dispatchedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "pickedupAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "onRouteAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveredAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "canceledAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "returnedToStoreAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "tookan_job_id": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "tookan_pickup_job_id": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "tookan_delivery_job_id": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "tookan_pickup_tracking_link": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "tookan_delivery_tracking_link": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "pickupTaskId": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "pickupTrackingUrl": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "deliveryTaskId": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "deliveryTrackingUrl": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "deliverySystem": {
                            "description": "Automatically assigned",
                            "type": "string"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "pickupAddress": {
                            "properties": {
                              "id": {
                                "description": "Auto-assigned:Short Id is automatically generated",
                                "type": "string"
                              },
                              "location": {
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "house": {
                                "type": "string"
                              },
                              "appartment": {
                                "type": "string"
                              },
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "country": {
                                "enum": [
                                  "NL"
                                ],
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "address1",
                              "city",
                              "country"
                            ],
                            "additionalProperties": false
                          },
                          "deliveryAddress": {
                            "properties": {
                              "id": {
                                "description": "Auto-assigned:Short Id is automatically generated",
                                "type": "string"
                              },
                              "location": {
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "house": {
                                "type": "string"
                              },
                              "appartment": {
                                "type": "string"
                              },
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "country": {
                                "enum": [
                                  "NL"
                                ],
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "address1",
                              "city",
                              "country"
                            ],
                            "additionalProperties": false
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "deliveryShippingType",
                          "deliveryContentsType",
                          "quantity",
                          "unitPrice",
                          "totalAmount",
                          "taxAmount",
                          "taxRate",
                          "status",
                          "scheduledPickupStart",
                          "scheduledPickupEnd",
                          "scheduledDeliveryStart",
                          "scheduledDeliveryEnd",
                          "deliveryStatus"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "voucherId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "orderNumber",
                    "orderType",
                    "gl",
                    "hl",
                    "totalAmount",
                    "totalTaxAmount",
                    "orderAmount",
                    "orderTaxAmount",
                    "shippingAmount",
                    "shippingTaxAmount",
                    "shippingTaxRate",
                    "currency",
                    "status"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "do",
                      "orderNumber": "incididunt co",
                      "orderType": "PRODUCT_ORDER",
                      "gl": "NL",
                      "hl": "en",
                      "totalAmount": -83795630,
                      "totalTaxAmount": -22708422,
                      "orderAmount": 39760702,
                      "orderTaxAmount": 83904644,
                      "shippingAmount": -83100523,
                      "shippingTaxAmount": -60654781,
                      "shippingTaxRate": 0.21,
                      "currency": "EUR",
                      "status": "RETURNED"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create a new instance of the model and persist it into the data source.",
        "operationId": "Create a new instance of the model and persist it into the data source.",
        "description": "",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create_a_new_instance_of_the_model_and_persist_it_into_the_data_source.Body"
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Request was successful",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "Auto-assigned: Short Id is automatically generated",
                        "type": "string"
                      },
                      "orderNumber": {
                        "description": "Auto-assigned: Order Number is automatically generated",
                        "type": "string"
                      },
                      "orderType": {
                        "default": "PRODUCT_ORDER",
                        "enum": [
                          "PRODUCT_ORDER",
                          "DELIVERY_ORDER"
                        ],
                        "type": "string"
                      },
                      "gl": {
                        "default": "NL",
                        "enum": [
                          "NL"
                        ],
                        "type": "string"
                      },
                      "hl": {
                        "enum": [
                          "en",
                          "nl"
                        ],
                        "type": "string"
                      },
                      "totalAmount": {
                        "description": "Auto-assigned: Total: shippingAmount + orderAmount",
                        "type": "number",
                        "format": "double"
                      },
                      "totalTaxAmount": {
                        "description": "Auto-assigned: Tax: shippingTaxAmount + orderTaxAmount",
                        "type": "number",
                        "format": "double"
                      },
                      "orderAmount": {
                        "description": "Auto-assigned: Total order amount inc. taxes - must add up to each line item (totalAmount)",
                        "type": "number",
                        "format": "double"
                      },
                      "orderTaxAmount": {
                        "description": "Auto-assigned: Total lineitem taxes - must add up to each line item (taxAmount)",
                        "type": "number",
                        "format": "double"
                      },
                      "shippingAmount": {
                        "description": "Auto-assigned: Total shipping cost inc. taxes",
                        "type": "number",
                        "format": "double"
                      },
                      "shippingTaxAmount": {
                        "description": "Auto-assigned: Shipping tax: shippingAmount × (shippingTaxRate / (1 + shippingTaxRate))",
                        "type": "number",
                        "format": "double"
                      },
                      "shippingTaxRate": {
                        "default": 0.21,
                        "description": "Auto-assigned: Tax amount in decimal point 21% = 0.21",
                        "type": "number",
                        "format": "double"
                      },
                      "discountAmount": {
                        "description": "Auto: Discount for this order inc. taxes (based on voucher)",
                        "type": "number",
                        "format": "double"
                      },
                      "commission": {
                        "description": "Auto-assigned: Total commission for order inc. taxes - must add up to each line item (commission)",
                        "type": "number",
                        "format": "double"
                      },
                      "currency": {
                        "default": "EUR",
                        "description": "Auto-assigned: based on shipping address country",
                        "type": "string"
                      },
                      "rating": {
                        "description": "Auto-assigned/restricted",
                        "type": "number",
                        "format": "double"
                      },
                      "comment": {
                        "type": "string"
                      },
                      "refundTotal": {
                        "description": "Auto-assigned: refunded",
                        "type": "number",
                        "format": "double"
                      },
                      "refundType": {
                        "enum": [
                          "OUT_OF_STOCK",
                          "DUPLICATE",
                          "FRAUD",
                          "CUSTOMER_REQUEST",
                          "OTHER"
                        ],
                        "description": "Auto-assigned",
                        "type": "string"
                      },
                      "refundReason": {
                        "description": "Auto-assigned",
                        "type": "string"
                      },
                      "canceledReason": {
                        "description": "Auto-assigned",
                        "type": "string"
                      },
                      "returnedReason": {
                        "description": "Auto-assigned",
                        "type": "string"
                      },
                      "status": {
                        "default": "CREATED",
                        "enum": [
                          "CREATED",
                          "PROCESSING_PAYMENT",
                          "PAYMENT_FAILED",
                          "PAID",
                          "PARTIALLY_ACCEPTED",
                          "ACCEPTED",
                          "READY_FOR_PICKUP",
                          "RIDER_DISPATCHED",
                          "IN_TRANSIT",
                          "DELIVERED",
                          "COMPLETED",
                          "PROCESSING_REFUND",
                          "REFUNDED",
                          "PARTIALLY_REFUNDED",
                          "CANCELED",
                          "PARTIALLY_RETURNED",
                          "RETURNED"
                        ],
                        "description": "Auto-assigned: The STATUS is automatically assigned",
                        "type": "string"
                      },
                      "pspOrderId": {
                        "description": "Auto-assigned: pspOrderLineId is automatically assigned",
                        "type": "string"
                      },
                      "pspOrderStatus": {
                        "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                        "type": "string"
                      },
                      "pspPaidAt": {
                        "description": "Automatically assigned",
                        "type": "string",
                        "format": "date-time"
                      },
                      "pspRefundStatus": {
                        "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                        "type": "string"
                      },
                      "pspRefundedAt": {
                        "description": "Automatically assigned",
                        "type": "string",
                        "format": "date-time"
                      },
                      "redirectPaymentUri": {
                        "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                        "type": "string"
                      },
                      "webhookUri": {
                        "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                        "type": "string"
                      },
                      "cancelReview": {
                        "description": "Cancel review",
                        "type": "boolean"
                      },
                      "ageCheck": {
                        "description": "Automatically assigned",
                        "type": "number",
                        "format": "double"
                      },
                      "ownerId": {
                        "type": "string"
                      },
                      "paymentOnAccountId": {
                        "type": "string"
                      },
                      "billingAddress": {
                        "properties": {
                          "id": {
                            "description": "Auto-assigned:Short Id is automatically generated",
                            "type": "string"
                          },
                          "location": {
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lng": {
                                "type": "number"
                              }
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "house": {
                            "type": "string"
                          },
                          "appartment": {
                            "type": "string"
                          },
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "postCode": {
                            "type": "string"
                          },
                          "country": {
                            "enum": [
                              "NL"
                            ],
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "address1",
                          "city",
                          "country"
                        ],
                        "additionalProperties": false
                      },
                      "storeIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "createdOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "deliveryLineItems": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "id": {
                              "description": "Auto-assigned:Short Id is automatically generated",
                              "type": "string"
                            },
                            "deliveryShippingType": {
                              "default": "PACKAGE",
                              "enum": [
                                "PACKAGE",
                                "LETTERBOX",
                                "CUSTOM"
                              ],
                              "description": "auto: deliveryShippingType TYPE is automatically assigned",
                              "type": "string"
                            },
                            "deliveryContentsType": {
                              "default": "GOODS",
                              "enum": [
                                "FOOD",
                                "ALCOHOL",
                                "GOODS",
                                "BOOKS"
                              ],
                              "description": "auto: deliveryContentsType is automatically assigned",
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "quantity": {
                              "description": "Total number of items",
                              "type": "number",
                              "format": "double"
                            },
                            "unitPrice": {
                              "description": "Single item amount inc. taxes, must include variant cost",
                              "type": "number",
                              "format": "double"
                            },
                            "totalAmount": {
                              "description": "Total item amount inc. taxes: (unitPrice x quantity) - discount",
                              "type": "number",
                              "format": "double"
                            },
                            "taxAmount": {
                              "description": "Total tax amount for line item: totalAmount × (taxRate / (1 + taxRate))",
                              "type": "number",
                              "format": "double"
                            },
                            "taxRate": {
                              "default": 0.21,
                              "description": "Tax rate as defined in the product for the lined item",
                              "type": "number",
                              "format": "double"
                            },
                            "refundAmount": {
                              "description": "Refund item amount",
                              "type": "number",
                              "format": "double"
                            },
                            "refundType": {
                              "enum": [
                                "OUT_OF_STOCK",
                                "DUPLICATE",
                                "FRAUD",
                                "CUSTOMER_REQUEST",
                                "OTHER"
                              ],
                              "type": "string"
                            },
                            "canceledReason": {
                              "type": "string"
                            },
                            "returnReason": {
                              "type": "string"
                            },
                            "refundedAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "status": {
                              "default": "ADDED",
                              "enum": [
                                "ADDED",
                                "PAID",
                                "PAYMENT_FAILED",
                                "ACCEPTED",
                                "READY_FOR_PICKUP",
                                "RIDER_DISPATCHED",
                                "IN_TRANSIT",
                                "DELIVERED",
                                "COMPLETED",
                                "REFUNDED",
                                "PARTIALLY_REFUNDED",
                                "CANCELED",
                                "RETURNED"
                              ],
                              "description": "auto: STATUS is automatically assigned",
                              "type": "string"
                            },
                            "scheduledPickupStart": {
                              "description": "Add start from pickup slot",
                              "type": "string",
                              "format": "date-time"
                            },
                            "scheduledPickupEnd": {
                              "description": "Add end from pickup slot",
                              "type": "string",
                              "format": "date-time"
                            },
                            "scheduledDeliveryStart": {
                              "description": "Add start from delivery slot",
                              "type": "string",
                              "format": "date-time"
                            },
                            "scheduledDeliveryEnd": {
                              "description": "Add end from delivery slot",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deliveryStatus": {
                              "default": "CREATED",
                              "enum": [
                                "CREATED",
                                "BOOKING",
                                "SCHEDULED",
                                "RIDER_DISPATCHED",
                                "IN_TRANSIT",
                                "DELIVERED",
                                "CANCELED",
                                "RETURNED_TO_STORE"
                              ],
                              "description": "Auto-assign: The STATUS is automatically assigned",
                              "type": "string"
                            },
                            "rider": {
                              "type": "string"
                            },
                            "riderAssignedAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "dispatchedAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "pickedupAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "onRouteAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deliveredAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "canceledAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "returnedToStoreAt": {
                              "description": "Automatically assigned",
                              "type": "string",
                              "format": "date-time"
                            },
                            "tookan_job_id": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "tookan_pickup_job_id": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "tookan_delivery_job_id": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "tookan_pickup_tracking_link": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "tookan_delivery_tracking_link": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "pickupTaskId": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "pickupTrackingUrl": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "deliveryTaskId": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "deliveryTrackingUrl": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "deliverySystem": {
                              "description": "Automatically assigned",
                              "type": "string"
                            },
                            "storeId": {
                              "type": "string"
                            },
                            "pickupAddress": {
                              "properties": {
                                "id": {
                                  "description": "Auto-assigned:Short Id is automatically generated",
                                  "type": "string"
                                },
                                "location": {
                                  "properties": {
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lng": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "house": {
                                  "type": "string"
                                },
                                "appartment": {
                                  "type": "string"
                                },
                                "address1": {
                                  "type": "string"
                                },
                                "address2": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "postCode": {
                                  "type": "string"
                                },
                                "country": {
                                  "enum": [
                                    "NL"
                                  ],
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "address1",
                                "city",
                                "country"
                              ],
                              "additionalProperties": false
                            },
                            "deliveryAddress": {
                              "properties": {
                                "id": {
                                  "description": "Auto-assigned:Short Id is automatically generated",
                                  "type": "string"
                                },
                                "location": {
                                  "properties": {
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lng": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "house": {
                                  "type": "string"
                                },
                                "appartment": {
                                  "type": "string"
                                },
                                "address1": {
                                  "type": "string"
                                },
                                "address2": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "postCode": {
                                  "type": "string"
                                },
                                "country": {
                                  "enum": [
                                    "NL"
                                  ],
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "address1",
                                "city",
                                "country"
                              ],
                              "additionalProperties": false
                            },
                            "createdOn": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedOn": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "deliveryShippingType",
                            "deliveryContentsType",
                            "quantity",
                            "unitPrice",
                            "totalAmount",
                            "taxAmount",
                            "taxRate",
                            "status",
                            "scheduledPickupStart",
                            "scheduledPickupEnd",
                            "scheduledDeliveryStart",
                            "scheduledDeliveryEnd",
                            "deliveryStatus"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "voucherId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "orderNumber",
                      "orderType",
                      "gl",
                      "hl",
                      "totalAmount",
                      "totalTaxAmount",
                      "orderAmount",
                      "orderTaxAmount",
                      "shippingAmount",
                      "shippingTaxAmount",
                      "shippingTaxRate",
                      "currency",
                      "status"
                    ],
                    "additionalProperties": false
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "P06VS-53Dl",
                        "orderNumber": "1341902575",
                        "orderType": "DELIVERY_ORDER",
                        "gl": "NL",
                        "hl": "nl",
                        "totalAmount": 6,
                        "totalTaxAmount": 1.04,
                        "orderAmount": 6,
                        "orderTaxAmount": 1.04,
                        "currency": "EUR",
                        "status": "CREATED",
                        "webhookUri": "https://peddl.free.beeceptor.com",
                        "ownerId": "Tf8GruUnyK",
                        "billingAddress": {
                          "id": "8PPPGkcCH8",
                          "location": {
                            "lat": 52.340799,
                            "lng": 4.826336
                          },
                          "firstName": "Peddler",
                          "lastName": "Peddler BV",
                          "house": "12-46",
                          "address1": "John M. Keynesplein",
                          "address2": "B-toren, L.0.K.4",
                          "city": "Amsterdam",
                          "state": "Noord Holland",
                          "postCode": "1066 EP",
                          "country": "NL",
                          "phone": "+31623754473"
                        },
                        "storeIds": [
                          "LSfSX5SiLsJ"
                        ],
                        "createdOn": "2021-07-10T15:43:24.133Z",
                        "updatedOn": "2021-07-10T15:43:24.304Z",
                        "deliveryLineItems": [
                          {
                            "id": "VtBwUJhR9z",
                            "deliveryShippingType": "CUSTOM",
                            "deliveryContentsType": "ALCOHOL",
                            "description": "packing_slip_number",
                            "quantity": 1,
                            "unitPrice": 6,
                            "totalAmount": 6,
                            "taxAmount": 1.04,
                            "taxRate": 0.21,
                            "status": "ADDED",
                            "scheduledPickupStart": "2021-07-11T12:00:00.000Z",
                            "scheduledPickupEnd": "2021-07-11T14:00:00.000Z",
                            "scheduledDeliveryStart": "2021-07-11T14:00:00.000Z",
                            "scheduledDeliveryEnd": "2021-07-11T16:00:00.000Z",
                            "deliveryStatus": "CREATED",
                            "deliveryEmail": "developers@peddler.com",
                            "metaData": "your_reference_id",
                            "storeId": "LSfSX5SiLsJ",
                            "pickupTrackingUrl": "https://pdlr.it/abc",
                            "deliveryTrackingUrl": "https://pdlr.it/xyz",
                            "pickupAddress": {
                              "id": "8PPPGkcCH8",
                              "location": {
                                "lat": 52.340799,
                                "lng": 4.826336
                              },
                              "firstName": "Peddler",
                              "lastName": "Peddler BV",
                              "house": "12-46",
                              "address1": "John M. Keynesplein",
                              "address2": "B-toren, L.0.K.4",
                              "city": "Amsterdam",
                              "state": "Noord Holland",
                              "postCode": "1066 EP",
                              "country": "NL",
                              "phone": "+31623754473"
                            },
                            "deliveryAddress": {
                              "id": "JYS4vreb9",
                              "location": {
                                "lat": 52.340799,
                                "lng": 4.826336
                              },
                              "firstName": "recipient",
                              "lastName": "Peddler BV",
                              "house": "12-46",
                              "address1": "John M. Keynesplein",
                              "address2": "B-toren, L.0.K.4",
                              "city": "Amsterdam",
                              "state": "Noord Holland",
                              "postCode": "1066 EP",
                              "country": "NL",
                              "phone": "+31623754473"
                            },
                            "createdOn": "2021-07-10T15:43:24.133Z",
                            "updatedOn": "2021-07-10T15:43:24.227Z"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "summary": "Find all instances of the model matched by filter from the data source.",
        "operationId": "Find all instances of the model matched by filter from the data source.",
        "description": "",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Orders/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Request was successful",
            "headers": {},
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Auto-assigned: Short Id is automatically generated",
                      "type": "string"
                    },
                    "orderNumber": {
                      "description": "Auto-assigned: Order Number is automatically generated",
                      "type": "string"
                    },
                    "orderType": {
                      "default": "PRODUCT_ORDER",
                      "enum": [
                        "PRODUCT_ORDER",
                        "DELIVERY_ORDER"
                      ],
                      "type": "string"
                    },
                    "gl": {
                      "default": "NL",
                      "enum": [
                        "NL"
                      ],
                      "type": "string"
                    },
                    "hl": {
                      "enum": [
                        "en",
                        "nl"
                      ],
                      "type": "string"
                    },
                    "totalAmount": {
                      "description": "Auto-assigned: Total: shippingAmount + orderAmount",
                      "type": "number",
                      "format": "double"
                    },
                    "totalTaxAmount": {
                      "description": "Auto-assigned: Tax: shippingTaxAmount + orderTaxAmount",
                      "type": "number",
                      "format": "double"
                    },
                    "orderAmount": {
                      "description": "Auto-assigned: Total order amount inc. taxes - must add up to each line item (totalAmount)",
                      "type": "number",
                      "format": "double"
                    },
                    "orderTaxAmount": {
                      "description": "Auto-assigned: Total lineitem taxes - must add up to each line item (taxAmount)",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingAmount": {
                      "description": "Auto-assigned: Total shipping cost inc. taxes",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingTaxAmount": {
                      "description": "Auto-assigned: Shipping tax: shippingAmount × (shippingTaxRate / (1 + shippingTaxRate))",
                      "type": "number",
                      "format": "double"
                    },
                    "shippingTaxRate": {
                      "default": 0.21,
                      "description": "Auto-assigned: Tax amount in decimal point 21% = 0.21",
                      "type": "number",
                      "format": "double"
                    },
                    "discountAmount": {
                      "description": "Auto: Discount for this order inc. taxes (based on voucher)",
                      "type": "number",
                      "format": "double"
                    },
                    "commission": {
                      "description": "Auto-assigned: Total commission for order inc. taxes - must add up to each line item (commission)",
                      "type": "number",
                      "format": "double"
                    },
                    "currency": {
                      "default": "EUR",
                      "description": "Auto-assigned: based on shipping address country",
                      "type": "string"
                    },
                    "rating": {
                      "description": "Auto-assigned/restricted",
                      "type": "number",
                      "format": "double"
                    },
                    "comment": {
                      "type": "string"
                    },
                    "refundTotal": {
                      "description": "Auto-assigned: refunded",
                      "type": "number",
                      "format": "double"
                    },
                    "refundType": {
                      "enum": [
                        "OUT_OF_STOCK",
                        "DUPLICATE",
                        "FRAUD",
                        "CUSTOMER_REQUEST",
                        "OTHER"
                      ],
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "refundReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "canceledReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "returnedReason": {
                      "description": "Auto-assigned",
                      "type": "string"
                    },
                    "status": {
                      "default": "CREATED",
                      "enum": [
                        "CREATED",
                        "PROCESSING_PAYMENT",
                        "PAYMENT_FAILED",
                        "PAID",
                        "PARTIALLY_ACCEPTED",
                        "ACCEPTED",
                        "READY_FOR_PICKUP",
                        "RIDER_DISPATCHED",
                        "IN_TRANSIT",
                        "DELIVERED",
                        "COMPLETED",
                        "PROCESSING_REFUND",
                        "REFUNDED",
                        "PARTIALLY_REFUNDED",
                        "CANCELED",
                        "PARTIALLY_RETURNED",
                        "RETURNED"
                      ],
                      "description": "Auto-assigned: The STATUS is automatically assigned",
                      "type": "string"
                    },
                    "pspOrderId": {
                      "description": "Auto-assigned: pspOrderLineId is automatically assigned",
                      "type": "string"
                    },
                    "pspOrderStatus": {
                      "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                      "type": "string"
                    },
                    "pspPaidAt": {
                      "description": "Automatically assigned",
                      "type": "string",
                      "format": "date-time"
                    },
                    "pspRefundStatus": {
                      "description": "Auto-assigned: pspOrderStatus is automatically assigned",
                      "type": "string"
                    },
                    "pspRefundedAt": {
                      "description": "Automatically assigned",
                      "type": "string",
                      "format": "date-time"
                    },
                    "redirectPaymentUri": {
                      "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                      "type": "string"
                    },
                    "webhookUri": {
                      "description": "Auto-assigned: redirectPaymentUri is automatically assigned",
                      "type": "string"
                    },
                    "cancelReview": {
                      "description": "Cancel review",
                      "type": "boolean"
                    },
                    "ageCheck": {
                      "description": "Automatically assigned",
                      "type": "number",
                      "format": "double"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "paymentOnAccountId": {
                      "type": "string"
                    },
                    "billingAddress": {
                      "properties": {
                        "id": {
                          "description": "Auto-assigned:Short Id is automatically generated",
                          "type": "string"
                        },
                        "location": {
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          }
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "appartment": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "enum": [
                            "NL"
                          ],
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "address1",
                        "city",
                        "country"
                      ],
                      "additionalProperties": false
                    },
                    "shippingAddress": {
                      "properties": {
                        "id": {
                          "description": "Auto-assigned:Short Id is automatically generated",
                          "type": "string"
                        },
                        "location": {
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          }
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "house": {
                          "type": "string"
                        },
                        "appartment": {
                          "type": "string"
                        },
                        "address1": {
                          "type": "string"
                        },
                        "address2": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "enum": [
                            "NL"
                          ],
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "address1",
                        "city",
                        "country"
                      ],
                      "additionalProperties": false
                    },
                    "storeIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "orderLineItems": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Auto-assigned:Short Id is automatically generated",
                            "type": "string"
                          },
                          "productTitle": {
                            "type": "string"
                          },
                          "productSlug": {
                            "type": "string"
                          },
                          "productImageFileName": {
                            "type": "string"
                          },
                          "productVariantTitle": {
                            "type": "string"
                          },
                          "productVariantSlug": {
                            "type": "string"
                          },
                          "productVariantImageFileName": {
                            "type": "string"
                          },
                          "productSubTitle": {
                            "type": "string"
                          },
                          "productRetailId": {
                            "type": "string"
                          },
                          "productSku": {
                            "type": "string"
                          },
                          "productVariantSubTitle": {
                            "type": "string"
                          },
                          "productVariantRetailId": {
                            "type": "string"
                          },
                          "productVariantSku": {
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Total number of items",
                            "type": "number",
                            "format": "double"
                          },
                          "unitPrice": {
                            "description": "Single item amount inc. taxes, must include variant cost",
                            "type": "number",
                            "format": "double"
                          },
                          "totalAmount": {
                            "description": "Total item amount inc. taxes: (unitPrice x quantity) - discount",
                            "type": "number",
                            "format": "double"
                          },
                          "taxAmount": {
                            "description": "Total tax amount for line item: totalAmount × (taxRate / (1 + taxRate))",
                            "type": "number",
                            "format": "double"
                          },
                          "taxRate": {
                            "default": 0.21,
                            "description": "Tax rate as defined in the product for the lined item",
                            "type": "number",
                            "format": "double"
                          },
                          "refundAmount": {
                            "description": "Refund item amount",
                            "type": "number",
                            "format": "double"
                          },
                          "refundType": {
                            "enum": [
                              "OUT_OF_STOCK",
                              "DUPLICATE",
                              "FRAUD",
                              "CUSTOMER_REQUEST",
                              "OTHER"
                            ],
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "returnReason": {
                            "type": "string"
                          },
                          "refundedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "default": "ADDED",
                            "enum": [
                              "ADDED",
                              "PAID",
                              "PAYMENT_FAILED",
                              "ACCEPTED",
                              "READY_FOR_PICKUP",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "COMPLETED",
                              "REFUNDED",
                              "PARTIALLY_REFUNDED",
                              "CANCELED",
                              "RETURNED"
                            ],
                            "description": "auto: STATUS is automatically assigned",
                            "type": "string"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "productTitle",
                          "productSlug",
                          "quantity",
                          "unitPrice",
                          "totalAmount",
                          "taxAmount",
                          "taxRate",
                          "status"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "deliveryLineItems": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "description": "Auto-assigned:Short Id is automatically generated",
                            "type": "string"
                          },
                          "deliveryShippingType": {
                            "default": "PACKAGE",
                            "enum": [
                              "PACKAGE",
                              "LETTERBOX",
                              "CUSTOM"
                            ],
                            "description": "auto: deliveryShippingType TYPE is automatically assigned",
                            "type": "string"
                          },
                          "deliveryContentsType": {
                            "default": "GOODS",
                            "enum": [
                              "FOOD",
                              "ALCOHOL",
                              "GOODS",
                              "BOOKS"
                            ],
                            "description": "auto: deliveryContentsType is automatically assigned",
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Total number of items",
                            "type": "number",
                            "format": "double"
                          },
                          "unitPrice": {
                            "description": "Single item amount inc. taxes, must include variant cost",
                            "type": "number",
                            "format": "double"
                          },
                          "totalAmount": {
                            "description": "Total item amount inc. taxes: (unitPrice x quantity) - discount",
                            "type": "number",
                            "format": "double"
                          },
                          "taxAmount": {
                            "description": "Total tax amount for line item: totalAmount × (taxRate / (1 + taxRate))",
                            "type": "number",
                            "format": "double"
                          },
                          "taxRate": {
                            "default": 0.21,
                            "description": "Tax rate as defined in the product for the lined item",
                            "type": "number",
                            "format": "double"
                          },
                          "refundAmount": {
                            "description": "Refund item amount",
                            "type": "number",
                            "format": "double"
                          },
                          "refundType": {
                            "enum": [
                              "OUT_OF_STOCK",
                              "DUPLICATE",
                              "FRAUD",
                              "CUSTOMER_REQUEST",
                              "OTHER"
                            ],
                            "type": "string"
                          },
                          "canceledReason": {
                            "type": "string"
                          },
                          "returnReason": {
                            "type": "string"
                          },
                          "refundedAt": {
                            "description": "Automatically assigned",
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "default": "ADDED",
                            "enum": [
                              "ADDED",
                              "PAID",
                              "PAYMENT_FAILED",
                              "ACCEPTED",
                              "READY_FOR_PICKUP",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "COMPLETED",
                              "REFUNDED",
                              "PARTIALLY_REFUNDED",
                              "CANCELED",
                              "RETURNED"
                            ],
                            "description": "auto: STATUS is automatically assigned",
                            "type": "string"
                          },
                          "scheduledPickupStart": {
                            "description": "Add start from pickup slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledPickupEnd": {
                            "description": "Add end from pickup slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledDeliveryStart": {
                            "description": "Add start from delivery slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduledDeliveryEnd": {
                            "description": "Add end from delivery slot",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveryStatus": {
                            "default": "CREATED",
                            "enum": [
                              "CREATED",
                              "BOOKING",
                              "SCHEDULED",
                              "RIDER_DISPATCHED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "CANCELED",
                              "RETURNED_TO_STORE"
                            ],
                            "description": "Auto-assign: The STATUS is automatically assigned",
                            "type": "string"
                          },
                          "rider": {
[...]
